<div class="dropzone" 
    dropZone
    (hovered)="toggleHover($event)"
    (dropped)="startUpload($event)"
    [class.hovering]="isHovering">

    <h3>Drop files here</h3>
    <div class="file">
        <label class="file-label">
            <input type="file" (change)="startUpload($event.target.files)">
        </label>
    </div>
</div>

<div *ngIf="percentage | async as pct">
    <progress [value]="pct" max="100"></progress>
</div>

<div *ngIf="downloadURL | async as url">
    <h3>Results!</h3>
    <img [src]="url">

    <a [href]="url">Download here</a>
</div>

