<div class="container">
    <div class="thumbnail" *ngIf="currPlaylistVideo">
        <a [routerLink]="['/video/playlist', playlist.playlistId, currPlaylistVideo[0].videoId]">
            <img [src]="playlist.playlistThumbnail" alt="">
            <div class="overlap">
                <div class="inner-container">
                    <div class="count" style="margin-bottom: 3%;">
                        {{ playlist.videoCount }}
                    </div>
                    <div class="icon">
                        <i class="fa fa-align-justify"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="desc">
        <div class="title">
            {{ playlist.playlistName }}
        </div> 
        <div class="updated">
            {{ updated }}
        </div>
        <div class="view">
            <a [routerLink]="['/playlist', playlist.playlistId]">
                VIEW FULL PLAYLIST
            </a>
        </div>
    </div>
</div>
