.head
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#toggle
{
    border: none;
    background: white;
}

#toggle
{
    cursor: pointer;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.containerRight
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.menu:hover
{
    cursor: pointer;
}

.middle
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.search
{
    width: 65%;
    display: flex;
    justify-content: flex-end;
}

#searchIcon
{
    background-color: #FAF7F7;
    border-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-radius: 3px;
    border-top: 1px solid #e1e1d0;
    border-right: 1px solid #e1e1d0;
    border-bottom: 1px solid #e1e1d0;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    width: 10%;
}

#searchIcon:hover
{
    cursor: pointer;
    background-color: lightgray;
}

#searchBar
{
    width: 100%;
    height: 32px;
    font-size: 15px;
    border-color: #e1e1d0;
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border-left: 1px solid #e1e1d0;
    border-top: 1px solid #e1e1d0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

#searchBar:focus
{
    outline-width: 0;
    outline: none;
    border: 1px solid blue;
}

.signIn
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d94ff;
    box-sizing: border-box;
    padding-right: 10px;
}

.signContainer
{
    font-size: 13px;
    font-family: 'Arial';
    font-weight: bold;
    color: #4d94ff;
    box-sizing: border-box;
}

.signContainer:hover
{
    cursor: pointer;
    border-color: #4d94ff;
    color: #4d94ff;
}

.signIcon
{
    margin: 5px;
    padding-left: 10px;
}

.nav
{
    font-size: 14px;
    z-index: 69;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: white;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 700ms;
}

.nav.active
{
    z-index: 69;
    left: 0;
    transition: 500ms;
    overflow-y: auto;
}

.top
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

hr
{
    border: 1px solid #e1e1d0;
}

.item
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:hover
{
    background-color: #f5f5f0;
    cursor: pointer;
}

.item-content
{
    width: 60%;
    display: flex;
    justify-content: start;
    height: 50px;
    align-items: center;
}

.item-content-l
{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.item a 
{
    text-decoration: none;
    font-family: Arial;
    color: rgba(76, 67, 67, 1);
    font-weight: 500;
}

.menu
{
    width: 8%;
}

.menu img
{
    width: 100%;
}

.icon
{
    width: 45%
}

.icon img
{
    width: 100%;
}

.miscIcon
{
    width: 8%;
}

.miscIcon:hover
{
    cursor: pointer;
}

.miscIcon img
{
    width: 100%;
}

.nav a
{
    text-decoration: none;
    color: rgba(76, 67, 67, 1);
}