.head
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

#toggle
{
    border: none;
    background: white;
}

#toggle
{
    cursor: pointer;
}

.container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.containerRight
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.menu:hover
{
    cursor: pointer;
}

.middle
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.search
{
    width: 65%;
    display: flex;
    justify-content: flex-end;
}

#searchIcon
{
    background-color: #FAF7F7;
    border-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-radius: 3px;
    border-top: 1px solid #e1e1d0;
    border-right: 1px solid #e1e1d0;
    border-bottom: 1px solid #e1e1d0;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    width: 10%;
}

#searchIcon:hover
{
    cursor: pointer;
    background-color: lightgray;
}

#searchBar
{
    width: 100%;
    height: 32px;
    font-size: 15px;
    border-color: #e1e1d0;
    padding: 5px;
    padding-left: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    border-left: 1px solid #e1e1d0;
    border-top: 1px solid #e1e1d0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

#searchBar:focus
{
    outline-width: 0;
    outline: none;
    border: 1px solid blue;
}

.signIn
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d94ff;
    box-sizing: border-box;
    padding-right: 10px;
}

.signContainer
{
    font-size: 13px;
    font-family: 'Arial';
    font-weight: bold;
    color: #4d94ff;
    box-sizing: border-box;
}

.signContainer:hover
{
    cursor: pointer;
    border-color: #4d94ff;
    color: #4d94ff;
}

.signIcon
{
    margin: 5px;
    padding-left: 10px;
}

.nav
{
    top: 0;
    width: 15%;
    left: -100%;
    z-index: 69;
    height: 100%;
    position: fixed;
    font-size: 14px;
    padding-top: 7px;
    transition: 700ms;
    padding-bottom: 7px;
    background-color: white;
}

.nav.active
{
    z-index: 69;
    left: 0;
    transition: 500ms;
}

.top
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

hr
{
    border: 1px solid #e1e1d0;
}

.item
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(76, 67, 67, 1);
}

.item:hover
{
    background-color: #f5f5f0;
    cursor: pointer;
}

.item-content-l
{
    width: 40%;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.item-content
{
    width: 60%;
    display: flex;
    justify-content: start;
    height: 50px;
    align-items: center;
}

.item a 
{
    text-decoration: none;
    font-family: 'Roboto';
    color: rgba(76, 67, 67, 1);
    font-weight: 500;
}

.menu
{
    width: 8%;
}

.menu img
{
    width: 100%;
}

.icon
{
    width: 45%
}

.icon img
{
    width: 100%;
}

.miscIcon
{
    width: 8%;
}

.miscIcon:hover
{
    cursor: pointer;
}

.miscIcon img
{
    width: 100%;
}

.nav a
{
    text-decoration: none;
    color: rgba(76, 67, 67, 1);
}

.nav-contents
{
    height: 95%;
    overflow-y: auto;

    ::-webkit-scrollbar {
        width: 2%;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
   
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}


.modal-container
{
    position: relative;

    .profile-modal
    {
        top: 0;
        width: 1100%;
        right: 120%;
        border: 1px solid lightgrey;
        position: absolute;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 25%;

        .modal-top
        {
            display: flex;
            justify-content: flex-start;
            margin-top: 5%;
            .inner-left
            {
                width: 25%;
                box-sizing: border-box;
                display: flex;
                justify-content: center;

                img
                {
                    width: 40%;
                    border-radius: 50%;
                }
            }

            .inner-right
            {
                width: 75%;

                .profile-name
                {
                    font-size: 1em;
                    font-weight: 500;
                }

                .profile-email
                {
                    margin-top: 1%;
                    font-size: .9em;
                }
            }
        }

        .modal-bot
        {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            color: rgba(76, 67, 67, 1);
            margin-top: 5%;

            hr
            {
                border: 1px solid lightgrey;
                border-top: none;
            }

            .choice
            {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 40px;
                font-size: .9em;
            }

            .choice:hover
            {
                cursor: pointer;
                background-color: lightgrey;
            }

            .choice-left
            {
                width: 18%;   
                display: flex;
                justify-content: center;
            }

            .choice-right
            {
                width: 80%;
            }
        }

        .modal-bot a
        {
            text-decoration: none;
            color: rgba(76, 67, 67, 1); 
        }

    }

    .profile-modal.hidden
    {
        display: none;
    }
}

.playlist-box
{
    .show-more.hidden
    {
        display: none;
    }

    .show-less.hidden
    {
        display: none;
    }
}

.nav-header
{
    font-weight: 500;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 2%;
    color: rgba(76, 67, 67, 1);
}

.categories
{

    .item
    {
        display: flex;
        align-items: center;

        .item-content-l
        {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            height: 50px;
            align-items: center;
            
            .item-img
            {
                display: flex;
                justify-content: center;

                img
                {
                    border-radius: 50%;
                    width: 32%;
                }
            }
        }
    
        .item-content
        {
            width: 60%;
            display: flex;
            justify-content: start;
            height: 50px;
            align-items: center;
        }
    }

    .item:hover
    {
        cursor: pointer;
        background-color: #f5f5f0;
    }
}