<div class="head">
    <div class="container">
        <div class="menu" id="toggleOn">
            <img src="../../assets/navIcon/menu.png">
        </div>
    
        <div class="icon">
            <a href="#">
                <img src="../../assets/navIcon/logo1.jpg">
            </a>
        </div>
    </div>

    <div class="middle">
        <div class="search">
            <input type="text" id="searchBar" placeholder="Search">
            <button type="submit" id="searchIcon">
                <img src="../../assets/navIcon/search.png" height="15px">
            </button>
        </div>
    </div>

    <div class="containerRight">
        <div class="miscIcon">
            <div>
                <img src="../../assets/navIcon/film.png">
            </div>
        </div>

        <div class="miscIcon" style="width: 7%">
            <div>
                <img src="../../assets/navIcon/menu2.png">
            </div>
        </div>
    
        <div class="miscIcon">
            <div>
                <img src="../../assets/navIcon/bell.png">
            </div>
        </div>

        <div class="signContainer" *ngIf="user == null" (click)="signInWithGoogle()">
            <div class="signIn">
                <div class="signIcon">
                    <img src="../../assets//navIcon/user.png" width="20px" height="20px">
                </div>
                <div>
                    SIGN IN 
                </div>
            </div>
        </div>

        <div *ngIf="user" class="miscIcon" style="width: 12%;">
            <img src="{{ user.photoUrl }}" alt="" style="border-radius: 50%;">
        </div>
    </div>
</div>

<div class="nav">
    <div class="top">
        <div class="menu" id="toggleClose">
            <img src="../../assets/navIcon/menu.png">
        </div>
    
        <div class="icon">
            <a href="#">
                <img src="../../assets/navIcon/logo1.jpg">
            </a>
        </div>
    </div>
    <hr>
    <div class="item">
        <div class="item-content-l">
            <div>
                <a href="#"><img src="../../assets/navItem/home-run.png" alt="" width="20px" height="20px"></a>
            </div>
        </div>
        <div class="item-content">
            <a href="#"><p>Home</p></a>
        </div>
    </div>
    <a [routerLink]="['/trending']">
        <div class="item">
            <div class="item-content-l">
                <div>
                    <img src="../../assets/navItem/fire.png" alt="" width="20px" height="20px">
                </div>
            </div>
            <div class="item-content">
                <p>Trending</p>
            </div>
        </div>
    </a>
    <div class="item">
        <div class="item-content-l">
            <div>
                <a href="#"><img src="../../assets/navItem/youtube.png" alt="" width="20px" height="20px"></a>
            </div>
        </div>
        <div class="item-content">
            <a href="#"><p>Subscriptions</p></a>
        </div>
    </div>
    <hr>
    
    <div *ngIf="playlists">
        <app-playlist-header *ngFor="let playlist of playlists" [play]="(playlist)"></app-playlist-header>
    </div>

</div>