<div class="container">
    <div class="left">
        <div class="desc">
            <div class="sub-title">
                Description
            </div>
            <div class="content">
                I make videos.
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="links">
            <div class="sub-title">
                Links
            </div>
            <div class="link-content">
                <a href="www.twitter.com">
                    Twitter
                </a>
            </div>
        </div>
        <div style="margin-bottom: 15%;">
            <hr>
        </div>
    </div>
    <div class="right">
        <div class="stats">
            <div class="sub-title">
                Stats
            </div>
            <div>
                <hr>
            </div>
            <div class="stat-content">
                Joined Apr 29, 2010
            </div>
            <div>
                <hr>
            </div>
            <div class="stat-content">
                25,756,182,051 views
            </div>
        </div>
    </div>
</div>