<div class="container">
    <div class="left">
        <div class="desc">
            <div class="sub-title">
                Description
            </div>
            <div class="content">
                {{ channel.channelDescription }}
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="links">
            <div class="sub-title">
                Links
            </div>
            <div class="link-content" *ngIf="channel.twitter != ''">
                <a href="https://{{channel.twitter}}" target="self">
                    Twitter
                </a>
            </div>
            <div class="link-content" *ngIf="channel.instagram != ''">
                <a href="https://{{channel.instagram}}" target="self">
                    Instagram
                </a>
            </div>
            <div class="link-content" *ngIf="channel.facebook != ''">
                <a href="https://{{channel.facebook}}" target="self">
                    Facebook
                </a>
            </div>
        </div>
        <div style="margin-bottom: 15%;">
            <hr>
        </div>
    </div>
    <div class="right">
        <div class="stats">
            <div class="sub-title">
                Stats
            </div>
            <div>
                <hr>
            </div>
            <div class="stat-content">
                {{ post }}
            </div>
            <div>
                <hr>
            </div>
            <div class="stat-content">
                {{ totalViews }} views
            </div>
        </div>
    </div>
</div>