<div class="container">
    <div class="banner"></div>

    <div class="profile">
        <div class="profile-container">
            <div class="left">
                <div class="inner-left" *ngIf="channel">
                    <img [src]="channel.photoURL" alt="">
                </div>
                <div class="inner-right" *ngIf="channel">
                    <div class="inner-top">
                        {{ user.name }}
                    </div>
                    <div class="inner-bot">
                        {{ channel.subscriber }} subscribers
                    </div>
                </div>
            </div>
            <div class="right">
                <div>
                    <div class="subscribe">
                        SUBSCRIBE
                    </div>
                </div>
                <div class="bell">
                    <img src="../../assets/navIcon/bell.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="tab">
        <div class="tab-choice home selected" (click)="moveToHome()">
            HOME
        </div>
        <div class="tab-choice videos" (click)="moveToVideos()">
            VIDEOS
        </div>
        <div class="tab-choice playlist" (click)="moveToPlaylist()">
            PLAYLISTS
        </div>
        <div class="tab-choice community">
            COMMUNITY
        </div>
        <div class="tab-choice about" (click)="moveToAbout()">
            ABOUT
        </div>
        <div class="tab-choice settings" (click)="moveToSettings()">
            SETTINGS
        </div>
    </div>

    <div class="channel-home" *ngIf="channel">
        <app-channel-home [chan]="(channel)" (moveEvent)="moveToVideos()"></app-channel-home>
    </div>

    <div class="channel-videos hidden" *ngIf="channel">
        <app-channel-videos [chan]="(channel)"></app-channel-videos>
    </div>

    <div class="channel-playlist hidden" *ngIf="channel">
        <app-channel-playlists [chan]="(channel)"></app-channel-playlists>
    </div>

    <div class="channel-about hidden" *ngIf="channel">
        <app-channel-about></app-channel-about>
    </div>

    <div class="channel-settings hidden" *ngIf="channel">
        <app-channel-settings [chan]="(channel)"></app-channel-settings>
    </div>
</div>
