.banner
{
    width: 100%;
    height: 210px;
    background-image: url('../../assets/upload/1c948486052af80b2370a73cb7f02c23.jpg');
    background-repeat: round;
}

.profile
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .5%;
    padding-top: 1%;
    background-color: white;

    .profile-container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .left
    {
        display: flex;
        justify-content: flex-start;

        .inner-left
        {
            width: 13%;
        }

        .inner-left img
        {
            width: 100%;
        }

        .inner-right
        {
            margin-left: 3%;
            width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .inner-top
            {
                font-size: 24px;
                font-weight: 400;
                color: black;
            }

            .inner-bot
            {
                padding-top: .5%;
                font-size: 14px;
                color: rgba(76, 67, 67, 1);
            }
        }
    }

    .right
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .subscribe
        {
            box-sizing: border-box;
            font-weight: 400;
            font-size: 14px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #D51313;
            color: white;
        }

        .bell
        {
            margin-left: 2%;
            width: 5%;
        }

        .bell img
        {
            width: 100%;
        }
    }
}

.tab
{
    width: 100%;
    display: flex;
    padding-top: .4%;
    background-color: white;
    justify-content: flex-start;

    .tab-choice
    {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 3%;
        padding-right: 3%;
        color: rgba(76, 67, 67, 1);
        font-weight: 500;
        font-size: 15px;
        margin-right: .4%;
        box-sizing: border-box
    }

    .tab-choice.selected
    {
        border: 3px solid rgba(76, 67, 67, 1);
        border-top: none;
        border-left: none;
        border-right: none;
    }
}



