.container
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .top-container
    {
        background-color:#ffffff8f;

        .top
        {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 7%;
            padding-top: 2%;
            padding-bottom: 2%;
    
            .icon
            {
                width: 6%;
                
                img
                {
                    width: 100%;
                    border-radius: 50%;
                }
            }
    
            .name
            {
                margin-left: 1.5%;
                width: 90%;
                font-size: 1.4em;
                font-weight: 500;
            }
        }
    }

    .bottom
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 7%;
        padding-top: 2%;
        width: 85%;

        .common-bot
        {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            .bot-top
            {
                font-weight: 500;
                font-size: 1em;
                margin-bottom: 1%;
            }

            .allVideos
            {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom: 2%;
    
                .video-container
                {
                    padding: .5%;
                    box-sizing: border-box;
                    width: 25%;
                }
            }

            .line
            {
                margin-bottom: 1%;
            }
        }
    }

}