<div class="container">
    <div class="top-container">
        <div class="top">
            <div class="icon" *ngIf="category=='gaming'">
                <img src="../../assets/trending/gaming.png">
            </div>
            <div class="icon" *ngIf="category=='music'">
                <img src="../../assets/trending/music.png">
            </div>
            <div class="icon" *ngIf="category=='entertainment'">
                <img src="../../assets/trending/entertainment.png">
            </div>
            <div class="icon" *ngIf="category=='sport'">
                <img src="../../assets/trending/sport.jpg">
            </div>
            <div class="icon" *ngIf="category=='news'">
                <img src="../../assets/trending/news.png">
            </div>
            <div class="icon" *ngIf="category=='travel'">
                <img src="../../assets/trending/plane.png">
            </div>
            <div class="name">
                {{ categoryTitle }}
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="common-bot">
            <div class="bot-top">
                Recently uploaded
            </div>
            <div class="allVideos" *ngIf="recentVideos">  
                <div class="video-container" *ngFor="let video of recentVideos, let i = index">
                    <app-video-page *ngIf="i < 20" [vid]="(video)"></app-video-page>
                </div>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="common-bot">
            <div class="bot-top">
                Popular this week
            </div>
            <div class="allVideos" *ngIf="weekVideos">  
                <div class="video-container" *ngFor="let video of weekVideos, let i = index">
                    <app-video-page *ngIf="i < 20" [vid]="(video)"></app-video-page>
                </div>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="common-bot">
            <div class="bot-top">
                Popular this month
            </div>
            <div class="allVideos" *ngIf="monthVideos">  
                <div class="video-container" *ngFor="let video of monthVideos, let i = index">
                    <app-video-page *ngIf="i < 20" [vid]="(video)"></app-video-page>
                </div>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
        <div class="common-bot">
            <div class="bot-top">
                All time popular
            </div>
            <div class="allVideos" *ngIf="allTimeVideos">  
                <div class="video-container" *ngFor="let video of allTimeVideos, let i = index">
                    <app-video-page *ngIf="i < 20" [vid]="(video)"></app-video-page>
                </div>
            </div>
        </div>
    </div>
</div>