<div class="container">
    <div class="top-container">
        <div class="top">
            <div class="icon" *ngIf="category=='gaming'">
                <img src="../../assets/trending/gaming.png">
            </div>
            <div class="icon" *ngIf="category=='music'">
                <img src="../../assets/trending/music.png">
            </div>
            <div class="icon" *ngIf="category=='entertainment'">
                <img src="../../assets/trending/entertainment.png">
            </div>
            <div class="icon" *ngIf="category=='sport'">
                <img src="../../assets/trending/sport.jpg">
            </div>
            <div class="icon" *ngIf="category=='news'">
                <img src="../../assets/trending/news.png">
            </div>
            <div class="icon" *ngIf="category=='travel'">
                <img src="../../assets/trending/plane.png">
            </div>
            <div class="name">
                {{ categoryTitle }}
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="filter" (click)="toggleModal()">
            <div>
                SORT BY 
            </div>
            <div style="margin-left: 1%">
                <i class="fa fa-caret-down"></i>
            </div>

            <div class="sort-modal hidden">
                <div class="modal">
                    <div class="choice" (click)="filterAllTime()">All-time popular</div>
                    <div class="choice" (click)="filterThisMonth()">Popular this month</div>
                    <div class="choice" (click)="filterThisWeek()">Popular this week</div>
                    <div class="choice" (click)="filterRecently()">Recently uploaded</div>
                </div>
            </div>
        </div>

        <div class="allVideos" *ngIf="videos">  
            <div class="video-container" *ngFor="let video of videos, let i = index">
                <app-video-page *ngIf="i < 20" [vid]="(video)"></app-video-page>
            </div>
        </div>
    </div>
</div>