.container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .top
    {
        color: black;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 3%;
    }

    .bottom
    {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .playlist-view
        {
            width: 25%;
            padding: .5%;
            margin-bottom: 1%;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
        }
    }
}