<div class="container">
    <div class="inner">
        <div class="left">
            <div *ngIf="creatorChannel">
                <img [src]="creatorChannel.photoURL" alt="">
            </div>
        </div>
        <div class="right" *ngIf="creatorChannel">
            <div class="profile">
                <div class="name" style="margin-right: .7%;">
                    {{ creatorChannel.name }}
                </div>
                <div class="time">
                    {{ timePost }}
                </div>
            </div>
            <div class="content">   
                {{ post.content }}
            </div>
            <div class="picture" *ngIf="post.photoURL != ''">
                <img [src]="post.photoURL" alt="">
            </div>
            <div class="misc">
                <div class="like" *ngIf="!liked" (click)="initiateLike()">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="like" *ngIf="liked" style="color: blue" (click)="initiateLike()">
                    <i class="fa fa-thumbs-up"></i>
                </div>
                <div class="like-count">
                    {{ post.likes }}
                </div>
                <div class="dislike" *ngIf="!disliked" (click)="initiateDislike()">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <div class="dislike" *ngIf="disliked" style="color: blue" (click)="initiateDislike()">
                    <i class="fa fa-thumbs-down"></i>
                </div>
                <div class="dislike-count">
                    {{ post.dislikes }}
                </div>
            </div>
        </div>
    </div>
</div>