<div class="container">
    <div class="inner-container">
        <div class="icon">
            <div class="img">
                <img src="../../assets/upload/Youtube_Premium.png">
            </div>
        </div>

        <div class="desc1">
            YouRJube and YouRJube Music ad-free, offline, and in the background
        </div>

        <div class="billing">
            <div class="try-it">
                MONTHLY
            </div>

            <div class="try-it">
                ANNUAL
            </div>
        </div>
        
        <div class="billing-detail">
            Monthly <span>&#183;</span> IDR 59,000.00/month
        </div>
        <div class="billing-detail" style="margin-top: 2%;">
            Annual <span>&#183;</span> IDR 650,000.00/month
        </div>

        <div class="desc2">
            We'll remind you 7 days before your subscription ends
        </div>

        <div class="desc2" style="margin-top: 2%">
            Recurring billing <span>&#183;</span> Cancel anytime
        </div>
    </div>
</div>

<div class="bot-container">
    <div class="items">
        <div class="img">
            <img src="../../assets/upload/ytr_lp2_icon_feature_playtransparent_84x84.png" alt="">
        </div>
        <div class="title">
            Premium Videos
        </div>
        <div class="desc">
            Watch exclusive videos made by our content creators
        </div>
    </div>
    <div class="items">
        <div class="img">
            <img src="../../assets/upload/ytm_lp2_icon_feature_download_84x84.png" alt="">
        </div>
        <div class="title">
            Download Videos
        </div>
        <div class="desc">
            Save videos for when you really need them – like when you’re on a plane or commuting.
        </div>
    </div>
    <div class="items">
        <div class="img">
            <img src="../../assets/upload/ytr_lp2_icon_feature_musicapp_84x84.png" alt="">
        </div>
        <div class="title">
            Scheduled Videos
        </div>
        <div class="desc">
            Access videos early 
        </div>
    </div>
</div>
