.playlist-modal
{
    position: absolute;
    padding: 5px;
    background-color: white;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 15%;
    height: 30%;
    margin: auto;
    overflow-y: auto;
    z-index: 40;
}

.flex-between
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.center
{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.close:hover
{
    cursor: pointer;
}