<div class="container">
    <div class="left">
        <a [routerLink]="['/video/playlist', playlistVideo.playlistId, playlistVideo.videoId]">
            <img [src]="playlistVideo.videoThumbnail" alt="">
        </a>
    </div>
    <div class="right" *ngIf="channel">
        <div class="title">
            <a [routerLink]="['/video/playlist', playlistVideo.playlistId, playlistVideo.videoId]">
                {{ playlistVideo.videoName }}
            </a>
        </div>  
        <a [routerLink]="['/channel', channel.id]">
            <div class="poster">
                {{ playlistVideo.channelName }}
            </div>
        </a>
    </div>
</div>
