<div class="container">
    <div class="left">
        <a [routerLink]="['/video', video.videoId]">
            <img [src]="video.videoThumbnail" alt="" width="165px" height="95px">
        </a>
    </div>
    <div class="right">
        <div class="top">
            <a [routerLink]="['/video', video.videoId]">
                {{ title }}
            </a>
        </div>
        <div class="bottom">
            <div class="channel">
                {{ video.channelName }}
            </div>
            <div class="detail">
                {{ views }} views <span>&#8226;</span> {{ post }}
            </div>
        </div>
    </div>
</div>
