<div class="container">
    <div class="left">
        <a [routerLink]="['/video', video.videoId]">
            <img [src]="video.videoThumbnail" alt="">
        </a>
    </div>
    <div class="right">
        <div class="top">
            {{ video.videoTitle }}
        </div>
        <div class="mid" *ngIf="channel">
            <a [routerLink]="['/channel', channel.id]">
                {{ video.channelName }}
            </a>
             <span style="margin-left: 1%;"></span> {{ views }} views <span>&#8226;</span> {{ post }}
        </div>
        <div class="bot">
            {{ desc }}
        </div>
    </div>
    <div class="right-most">
        <div class="dots" (click)="toggleModal()">
            <i class="fa fa-ellipsis-v"></i>
        </div>
        <div class="video-modal-container hidden" [id]="dummyId">
            <div class="flex-start" (click)="addQueue()">
                <div class="modal-left">
                    <i class="fa fa-align-justify"></i>
                </div>
                <div class="modal-right">
                    Add to queue
                </div>
            </div>
            <div class="flex-start" (click)="showPlaylist()">
                <div class="modal-left">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="modal-right">
                    Save to playlist
                </div>
            </div>
        </div>
    </div>
</div>
