<div class="container">
    <div class="left">
        <img src="../../assets/upload/thumbnail.png" alt="">
    </div>
    <div class="right">
        <div class="top">
            Detik - detik ledakan dahsyat di Lebanon
        </div>
        <div class="mid">
            metrotvnews 1.9M views <span>&#8226;</span> 1 day ago
        </div>
        <div class="bot">
            Sebuah ledakan besar mengguncang Beirut, Lebanon, Selasa (4/8/2020). Ledakan yang terjadi di ibu kota Lebanon ini mengakibatkan puluhan orang meninggal dunia dan ribuan orang luka-luka.
        </div>
    </div>
</div>
