<div class="container">
    <div class="top">
        <div class="icon-container music" (click)="changeToMusic()">
            <div class="icon">
                <img src="../../assets/trending/music.png" alt="">
            </div>
            <div class="desc">
                Music
            </div>
        </div>
        <div class="icon-container gaming" (click)="changeToGaming()">
            <div class="icon">
                <img src="../../assets/trending/gaming.png" alt="">
            </div>
            <div class="desc">
                Gaming
            </div>
        </div>
        <div class="icon-container news" (click)="changeToNews()">
            <div class="icon">
                <img src="../../assets/trending/news.png" alt="">
            </div>
            <div class="desc">
                News
            </div>
        </div>
        <div class="icon-container entertainment" (click)="changeToEnt()">
            <div class="icon">
                <img src="../../assets/trending/entertainment.png" alt="">
            </div>
            <div class="desc">
                Entertainment
            </div>
        </div>
        <div class="icon-container sport" (click)="changeToSport()">
            <div class="icon">
                <img src="../../assets/trending/sport.jpg" alt="">
            </div>
            <div class="desc">
                Sport
            </div>
        </div>
        <div class="icon-container travel" (click)="changeToTravel()">
            <div class="icon">
                <img src="../../assets/trending/plane.png" alt="">
            </div>
            <div class="desc">
                Travel
            </div>
        </div>
    </div>
    <div class="line">
        <hr>
    </div>
    <div class="bottom" *ngFor="let video of showVideos, let i = index">
        <app-trending-bottom *ngIf="i < 20" [vid]="(video)"></app-trending-bottom>
    </div>
</div>