<div class="container" *ngIf="currPlaylist">
    <div class="left">
        <div class="inner-container" *ngIf="flag">
            <a [routerLink]="['/video', playlistVideos[0].videoId]">
                <div class="thumbnail">
                    <img [src]="playlistThumbnail" alt="">
                    <div class="overlap">
                        <div class="overlap-container">
                            <div>
                                <i class="fa fa-play"></i>
                            </div>
                            <div style="margin-left: 7px;">
                                PLAY ALL
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="space-between block">
                <div class="title hidden">
                    <input type="text" [value]="playlistName" (input)="playlistName = $event.target.value">
                </div>
                <div class="titleTxt">
                    {{ currPlaylist.playlistName }}
                </div>
                <div class="icon editTitle" (click)="hidePencil()">
                    <i class="fa fa-pencil fa-lg"></i>
                </div>
            </div>
            <div class="title-btn titleBtn hidden">
                <div class="cancelTitle" (click)="returnTitle()">
                    CANCEL
                </div>
                <div class="saveTitle" (click)="changePlaylistName()" (click)="returnTitle()">
                    SAVE
                </div>
            </div>
            <div class="details block">
                {{ currPlaylist.videoCount }} videos <span>&#8226;</span> {{ currPlaylist.views }} views <span>&#8226;</span> {{ post }}
            </div>
            <div class="visibility block" (click)="changePlaylistVisibility()">
                <div>
                    {{ visibility }}
                </div>
                <div style="margin-left: 5px;">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="flex-start block shufflePlay" *ngIf="playlistVideos">
                <a [routerLink]="['/video', playlistVideos[shuffle].videoId]">
                    <div class="icon" style="margin-right: 20px;">
                        <i class="fa fa-random fa-lg"></i>
                    </div>
                </a>
                <div class="icon">
                    <i class="fa fa-ellipsis-h fa-lg"></i>
                </div>
            </div>
            <div class="space-between block">
                <div class="desc hidden">
                    <input type="text" [value]="playlistDescription" (input)="playlistDescription = $event.target.value">
                </div>
                <div class="descTxt">
                    {{ currPlaylist.playlistDescription }}
                </div>
                <div class="icon editDesc" (click)="hideDescPencil()">
                    <i class="fa fa-pencil fa-lg"></i>
                </div>
            </div>
            <div class="cancelBtn hidden">
                <div class="cancelTitle" (click)="returnDesc()">
                    CANCEL
                </div>
                <div class="saveTitle" (click)="changePlaylistDesc()" (click)="returnDesc()">
                    SAVE
                </div>
            </div>
            <hr>
            <div *ngIf="playlistCreator" class="playlist-creator">
                <div>
                    <a [routerLink]="['/channel', playlistCreator.id]">
                        <div class="channel block">
                            <div class="photo" style="width: 30%;">
                                <img [src]="playlistCreator.photoURL" style="width: 100%;">
                            </div>  
                            <div class="name">
                                {{ playlistCreator.name }}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sub-container" (click)="addSub()" *ngIf="isSubscribed == false">
                    <div class="sub-button">
                        SUBSCRIBE
                    </div>
                </div>
                <div class="sub-container" *ngIf="isSubscribed == true">
                    <div class="subbed-button" (click)="removeSub()">
                        SUBSCRIBED
                    </div>
                    <div class="bell" *ngIf="isBelled" (click)="removeBell()">
                        <i class="fa fa-bell fa-lg"></i>
                    </div>
                    <div class="bell" *ngIf="!isBelled" (click)="addBell()">
                        <i class="fa fa-bell-slash fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right" *ngIf="playlistVideos.length != 0">
        <div>
            <div class="sort" (click)="showModal()">
                <div>
                    <i class="fa fa-sort-amount-desc fa-lg"></i>
                </div>
                <div style="margin-left: 15px; font-size: 14px;">
                    SORT BY
                </div>
            </div>
            <div class="modal hidden">
                <div class="modal-container">
                    <div class="flex-start choice" (click)="sortVideoDate()">
                        Date added (newest)
                    </div>
                    <div class="flex-start choice" (click)="sortVideoDateDesc()">
                        Date added (oldest)
                    </div>
                    <div class="flex-start choice" (click)="sortVideoViewsDesc()">
                        Most popular
                    </div>
                    <div class="flex-start choice" (click)="sortUpload()">
                        Date published (newest)
                    </div>
                    <div class="flex-start choice" (click)="sortUploadDesc()">
                        Date published (oldest)
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let playlist of playlistVideos, let i = index" class="side-container">
            <app-playlist-side *ngIf="i < videoLimit" [play]="(playlist)"></app-playlist-side>
        </div>
        <div class="footer" style="height: 3px; margin-top: -1%;"></div>
    </div>
</div>