<div class="container">
    <div class="common-container">
        <div class="header">
            Today
        </div>
        <div class="videos">
            <div class="video-container" *ngFor="let video of todayVideos">
                <app-video-page [vid]="(video)"></app-video-page>
            </div>
        </div>
    </div>
    <hr>
    <div class="common-container">
        <div class="header">
            This week
        </div>
        <div class="videos">
            <div class="video-container" *ngFor="let video of weekVideos">
                <app-video-page [vid]="(video)"></app-video-page>
            </div>
        </div>
    </div>
    <hr>
    <div class="common-container">
        <div class="header">
            This month
        </div>
        <div class="videos">
            <div class="video-container month" *ngFor="let video of monthVideos, let i = index">
                <app-video-page *ngIf="i < videoLimit" [vid]="(video)"></app-video-page>
            </div>
        </div>
        <div class="footer" style="height: 1px"></div>
    </div>
</div>
