*
{
    margin: 0;
    padding: 0;
}

.upload-container
{
    font-family: 'Roboto';
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 85%;
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 13px;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px 3px gray;
}

.upload-container.hidden
{
    display: none;
}

.close
{
    float: right;
}

.close:hover
{
    cursor: pointer;
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;   
    box-sizing: border-box;
}

hr
{
    color: #4C4343;
    border: 1px solid #4C4343;
    border-top: none;
}

.rest
{
    padding: 10px 50px;
}

.number
{
    background-color: lightgray;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box
}

.sticky
{
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.arrow
{
    color: #4C4343;
    width: 15%;
    margin: 0px 8px;
}

.section
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle
{
    display: flex;
    justify-items: center;
}

.left
{
    width: 70%;
}

.dropzone
{
    margin-left: 13px;
    width: 30%;
    padding: 13px;
    border: 1px dashed black;
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.progressBar
{
    width: 100%;
}

.preview
{
    margin-left: 13px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.preview a{
    text-decoration: none;
    font-size: 13px;
    color:blue;
}

.first
{
    padding-top: 25px;
    font-weight: 500;
    color: black;
    font-size: 25px;
    padding-bottom: 20px;
}

.left textarea
{
    resize: none;
    width: 100%;
    padding: 8px;
    font-size: 13px;
    font-family: 'Roboto';
    border-radius: 5px;
    box-sizing: border-box;
}

#title
{
    margin-bottom: 25px;
}

.thumbnail
{
    width: 70%;
    padding-top: 25px;
}

.sub-title
{
    font-size: 15px;
    font-weight: 500;
    color: #4C4343;
}

.desc
{
    font-size: 13px;
    color: gray;
    padding-top: 5px;
    text-align: left;
    margin-bottom: 13px;
    box-sizing: border-box;
}

.thumb-pick
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

.dropImage
{
    width: 30%;
    padding: 13px;
    border: 4px dashed black;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dropImage div
{
    margin-top: 8px;
}

.imagePreview
{
    width: 30%;
}

.audience 
{
    width: 70%;
}

.audience-sub
{
    font-size: 13px;
    padding-top: 5px;
    font-weight: 500;
    color: #4C4343;
}

.audience label
{
    font-size: 13px;
    margin-left: 13px;
}

.dropFile
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.choice 
{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    margin-top: 20px;
}

.visibility
{
    width: 70%;
}

.whatever
{
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.choose
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 13px;
}

.choose
{
    font-size: 15px;
}

.choose label
{
    margin-left: 20px;
}

.box
{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    margin-left: 25px;
}

.vis-desc
{
    margin: 13px;
    font-size: 13px;
    color: #4C4343;
}

.submit-box
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#submit
{
    font-size: 15px;
    padding: 8px 13px;
    font-weight: 500;
    color: white;
    background-color: blue;
    border: none;
    margin: 20px;
}

#submit:hover 
{
    cursor: pointer;
}

textarea:focus
{
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 3px #929496;
}

.imgPreview
{
    margin-left: 2%;
    width: 25%;
}

.imgPreview img
{
    width: 100%;
}
