<div class="container">
    <div class="left">
        <div class="profile-pic">
            <a [routerLink]="['/channel', channel.id]">
                <img [src]="channel.photoURL" alt="">
            </a>
        </div>
        <div class="profile">
            <div class="name">
                <a [routerLink]="['/channel', channel.id]">
                    {{ channel.name }}
                </a>
            </div>
            <div class="subs">
                {{ channel.subscriber }} subcribers
            </div>
            <div class="short-desc">
                {{ channel.channelDescription }}
            </div>
        </div>
    </div>
    <div class="right">
        <div class="sub-container" (click)="addSub()" *ngIf="isSubscribed == false">
            <div class="sub-button">
                SUBSCRIBE
            </div>
        </div>
        <div class="sub-container" *ngIf="isSubscribed == true">
            <div class="subbed-button" (click)="removeSub()">
                SUBSCRIBED
            </div>
            <div class="bell" *ngIf="isBelled" (click)="removeBell()">
                <i class="fa fa-bell fa-lg"></i>
            </div>
            <div class="bell" *ngIf="!isBelled" (click)="addBell()">
                <i class="fa fa-bell-slash fa-lg"></i>
            </div>
        </div>
    </div>
</div>
<div>
    <hr style="border: 1px solid lightgrey; border-top: none">
</div>