.container
{
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 35px;
    box-sizing: border-box;
}

.left
{
    width: 65%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.right
{
    margin-left: 30px;
    width: 35%;
}

#mainvideo
{
    width: 50%;
}

.video-title
{
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title
{
    font-size: 18px;
}

.views
{
    margin-top: 15px;
    color: rgba(76, 67, 67, 1); 
}

.desc-top
{
    display: flex;
    justify-content: space-between;
}

.profile
{
    display: flex;
    justify-content: flex-start;
}

.profile-desc
{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-name
{
    font-size: 14px;
    font-weight: 500;
}

.profile-name a 
{  
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.profile-subs
{
    font-size: 13px;
    color: rgba(76, 67, 67, 1); 
}

.avatar img
{
    border-radius: 50%;
}

.sub-container
{
    display: flex;
    align-items: center;

    .bell
    {
        color: rgba(76, 67, 67, 1);
        margin-left: 5%;
    }

    .bell:hover
    {
        cursor: pointer;
    }
}

.sub-container:hover
{
    cursor: pointer;
}

.sub-button
{
    color: white;
    background-color: #D51313;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.subbed-button
{
    color: rgba(76, 67, 67, 1);
    background-color: lightgrey;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.misc
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.icon
{
    color: rgba(76, 67, 67, 1);
    margin: 15px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.icon.clicked
{
    color: blue;
    margin: 15px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.icon:hover
{
    cursor: pointer;
}

.share
{
    display: flex;
    justify-content: center;
}

.save
{
    display: flex;
    justify-items: center;
}

.pls
{
    margin-right: 10px;
}

.desc-bot
{
    font-size: 14px;
    width: 80%;
    margin-left: 55px;
}

.controller:hover
{
    cursor: pointer;
}

.controller-txt
{
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(76, 67, 67, 1); 
    margin-left: 55px;
    font-size: 12px;
    font-weight: 600;
}

.controller-txt.hidden
{
    display: none;
}

.header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 380px;
    margin-bottom: 13px;
} 

.autoplay
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(76, 67, 67, 1);
    font-size: 13px;
    font-weight: 500;
}

.special
{
    width: 400px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.same-container
{
    display: flex;
    justify-content: flex-start;
}

.top-section
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.qty
{
    font-size: 16px;
}

.sort-section
{
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(76, 67, 67, 1);
}

.sort-section:hover
{
    cursor: pointer;
}

.comment-left
{
    width: 5%;
}

.comment-right
{
    width: 95%;
    margin-left: 15px;
    box-sizing: border-box;
}

.comment-right input[type='text']
{
    font-size: 14px;
    background-color: #f2f2f2;
    width: 99%;
    border: 1px solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
}

.comment-right input[type='text']:focus
{
    outline-width: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 4px;
}

.comment-left img
{
    width: 90%;
    border-radius: 50%;
}

.click-container
{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.clickables
{
    color: white;
    background-color: blue;
    font-weight: 400;
    font-size: 13px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    border-radius: 2px;
}

.clickables:hover
{
    cursor: pointer;
}

.sort-container
{
    position: absolute;
    left: 11.2%;
    width: 9.5%;
}

.sort-container.hidden
{
    display: none;
}

.sort-modal
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
    font-weight: 400;
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.choices
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    padding-left: 10%;
    height: 30px;
}

.choices:hover
{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.footer
{
    height: 1px;
}

