.container
{
    font-family: Roboto, sans-serif;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    box-sizing: border-box;
}

.container:hover
{
    background-color: lightgrey;

    .right-most
    {
        .dots
        {
            opacity: 1;
        }
    }

    .before-most
    {
        .arr-up
        {
            opacity: 1;
        }

        .arr-down
        {
            opacity: 1;
        }
    }
}

.inner-container
{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 15px;
}

.left-most
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(155, 142, 142);
    margin-right: 10px;
}

.left 
{
    width: 15%;
}

.left img 
{
    width: 100%;
}

.right
{
    width: 75%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .desc
    {
        color: rgba(76, 67, 67, 1);
        font-size: .9em;
    }
}

.right a 
{
    text-decoration: none; 
    color: black;
}

.top
{
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 10px;
}

.bottom
{
    color: rgba(76, 67, 67, 1);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;

    .channel
    {
        a
        {
            text-decoration: none;
        }
    }

    .channel:hover
    {
        cursor: pointer;
    }

    .views
    {
        margin-left: 1%;
    }

    .post 
    {
        margin-left: 1%;
    }
}

.line
{
    padding-left: 10px;
    padding-right: 10px;
}

.line hr 
{
    margin: 0;
    border: 1px solid lightgrey;
    border-top: none;
    color: rgba(76, 67, 67, 1);
}

.right-most
{
    width: 5%;
    color: rgba(76, 67, 67, 1);

    .dots
    {
        opacity: 0;
        transition: 400ms;
    }
}

.right-most:hover
{
    cursor: pointer;
}

.modal
{
    position: absolute;
    right: 1%;
    font-size: 14px;
    width: 18%;
}

.modal.hidden
{
    display: none;
}

.modal-container
{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-start;
}

.flex-start
{
    padding: 10px;
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-start:hover
{
    background-color: lightgrey;
    cursor: pointer;
}

.modal-left
{
    width: 15%;
}

.modal-right
{
    width: 85%;
}

hr
{
    margin: 0;
    border: 1px solid lightgrey;
    border-top: none;
    color: rgba(76, 67, 67, 1);
}

.before-most
{
    width: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .arr-up
    {
        opacity: 0;
        margin-bottom: 10%;
        color: rgba(76, 67, 67, 1);
        transition: 400ms;
    }

    .arr-down
    {
        opacity: 0;
        color: rgba(76, 67, 67, 1);
        transition: 400ms;
    }

    .arr-up:hover
    {
        cursor: pointer;
    }

    .arr-down
    {
        cursor: pointer;
    }
}