<div class="container">
    <div class="inner-container">
        <div class="left-most">
            <div>
                =
            </div>
        </div>
        <div class="left">
            <a [routerLink]="['/video', playlistVideo.videoId]">
                <img [src]="playlistVideo.videoThumbnail" alt="">
            </a>
        </div>
        <div class="right">
            <div class="top">
                <a [routerLink]="['/video', playlistVideo.videoId]">
                    {{ playlistVideo.videoName }}
                </a>
            </div>
            <div class="bottom">
                <div class="channel">
                    {{ playlistVideo.channelName }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line">
    <hr>
</div>
